@page "/"



<h2>Prueba Técnica de Desarrollo</h2>
<br>

Desarrollo de Operaciones CRUD con Razor WebAssembly (Front End)
<br>
API RESt con ASP.NET Core 5.0 (Back End)
<br>
Servidor de Bases de datos (PostgreSQL)
<br>
ORM - Microsoft Entity Framework Core
<br>

<br>
<h2>Generalidades</h2>
<ul>
    <li>
        Desarrolle una solución que permita administrar “Entidades”, y a estas entidades
        se le deben poder agregar muchos “Empleados”, implementando los métodos
        “Get, GetAll, Create, Update, Delete”.
    </li>

    <li>
        La solución debe tener un mecanismo de autenticación básico, basado en usuario y contraseña y solo las personas autenticadas podrán hacer uso del sistema.
    </li>

    <li>
        Los datos deben quedar almacenados en una base de datos postgres. En lo posible se debe utilizar el componente de Entity Frameword Core,
        o cualquier método que se le facilite para lograr la persistencia y administración de los datos.
    </li>

</ul>

<h2>Criterios de Aceptación:</h2>
<ul>

    <li>Url del código fuente de la solución en Github.</li>
    <li>
        Hacer un video con la presentación de la solución, donde nos detalle el funcionamiento de la misma,
        haciendo énfasis en el diseño, código desarrollado e implementación de la base de datos.
        Este video debe montarlo a Youtube y enviar el enlace.
    </li>
</ul>


