@page "/empleados/create"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using  GestorPostgreSQL.Shared.Modelos
@attribute [Authorize]
@inject HttpClient Http
@inject NavigationManager Navigation
@inject IJSRuntime JsRuntime

<h3>Crear Empleado</h3>

<EditForm Model="@_emp" OnValidSubmit="Post">

    <table class="table">
        <tr>
            <td>Codigo:</td>
            <td><input type="text" @bind="_emp.codigo" /> </td>
        </tr>
        <tr>
            <td>Nombre:</td>
            <td><input type="text" @bind="_emp.nombre" /> </td>
        </tr>
        <tr>
            <td>Dirección:</td>
            <td><input type="text" @bind="_emp.direccion" /> </td>
        </tr>
        <tr>
            <td>Estudios:</td>
            <td><input type="text" @bind="_emp.estudios" /> </td>
        </tr>
        <tr>
            <td>Fecha nacimiento:</td>
            <td><input type="text" @bind="_emp.fechanacimiento" /> </td>
        </tr>

        <tr>
            <td colspan="2" style="text-align:center">
                <input type="submit" class="btn btn-success" value="Guardar" />
                <input type="button" class="btn btn-dark" value="Cancelar" @onclick="Cancelar" />
            </td>
        </tr>
    </table>

</EditForm>

@code {
    private Empleado _emp = new();

    private async Task Post()
    {
        try
        {
            await Http.PostAsJsonAsync<Empleado>("/api/Empleados", _emp);
            Navigation.NavigateTo("/empleados");

        }
        catch (Exception ex)
        {

            await JsRuntime.InvokeVoidAsync("alert", "Error al crear un empleado" + @"\r\n" + ex.Message ); // Alert

        }

    }

    protected void Cancelar()
    {
        Navigation.NavigateTo("/empleados");
    }

}